<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/Login_css.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/conocenos.css')}}">
</head>
<body>
    <div class="encabezado">
        <h1 class="titulo-cuerpo">Este es el equipo</h1>
        <a href="/inicio" class="btn-inicio">Inicio</a>
    </div>
    <div class="cuerpo">
        <div class="trj ">
            <div class="cont-trj trj-octavio">
                <img src="{{url_for('static', filename='img/img_equipo/foto_octavio.jpg')}}" alt="Foto de Octavio" class="img-trj">
                <div class="info">
                    <a href="https://github.com/octadark" target="_blank">Github</a>
                    <p>Correo de contacto:  </p>
                    <p>Octavio Chávez R.</p>
                </div>
            </div>
        </div>
        <div class="trj">
            <div class="cont-trj trj-felipe">
                <img src="{{url_for('static', filename='img/img_equipo/foto_felipe.jpg')}}" alt="Foto de Felipe" class="img-trj">
                <div class="info">
                    <a href="https://github.com/FelipeRobles1" target="_blank">Github</a>
                    <p>Correo de contacto:  </p>
                    <p>Felipe Robles Y.</p>
                </div>
            </div>
        </div>
        <div class="trj ">
            <div class="cont-trj trj-francisca">
                <img src="#" alt="Foto de Francisca" class="img-trj">
                <div class="info">
                    <a href="https://github.com/francarrasc0" target="_blank">Github</a>
                    <p>Correo de contacto:  </p>
                    <p>Francisca Carrasco L.</p>
                </div>
            </div>
        </div>
        <div class="trj ">
            <div class="cont-trj trj-martin">
                <img src="#" alt="Foto de Martín" class="img-trj">
                <div class="info">
                    <a href="https://github.com/alonsoznova" target="_blank">Github</a>
                    <p>Correo de contacto:  </p>
                    <p>Martín Zuñiga N.</p>
                </div>
            </div>
        </div>
        <div class="trj ">
            <div class="cont-trj trj-benjamin">
                <img src="#" alt="Foto de Benjamin" class="img-trj">
                <div class="info">
                    <a href="https://github.com/Bl3x4r?tab=repositories" target="_blank">Github</a>
                    <p>Correo de contacto:  </p>
                    <p>Benjamin Llanos P.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>