<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Post</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/crear_post.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap" rel="stylesheet">
</head>
<nav>
    <div class="cont_izq">
        <img src="{{url_for('static', filename='img/logo.png')}}" alt="Logo de VIIIGames" class="img logo">
        <h1>Crear Post</h1>
    </div>
    <div class="cont_der">
        <ul class="lista">
            <li><a href="/dashboard" class="item">Posts</a></li>
            <li><a href="#" class="item">Eventos</a></li>
            <li><a href="/mensajes" class="item">Tus Mensajes</a></li>
        </ul>
        <div class="cont-perfil-btn">
            {% if 'nombre_usuario' not in session %}
            <form action="/iniciar/sesion" method="get">
                <button>Iniciar Sesión</button>
            </form>
            <form action="/registrarse" method="get">
                <button>Registrarse</button>
            </form>
            {%else%}
                <a href="/perfil/{{session['nombre_usuario']}}" class="item">Perfil</a>
                <form action="/cerrar/sesion" method="get">
                    <button>Cerrar Sesión</button>
                </form>
            {%endif%}
        </div>
    </div>
</nav>
<body>
    <div class="cont-cuerpo">
        <form action="/procesar/creacion_post" method="POST" id="crear-post">
            <div>
                <label for="nombre_post">Título del Post</label>
                <input type="text" name="nombre_post">
            </div>
            <div>
                <label for="descripcion_post">Descripción</label>
                <textarea name="descripcion_post"></textarea>
            </div>
            <button>Crear Post</button>
        </form>
    </div>
</body>
</html>