<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/inicio.css')}}">
</head>
<nav nav-hdr>
    <div class="cont_izq">
        <h1>Inicio</h1>
    </div>
    <div class="cont_der">
        <ul class="lista">
            <li><a href="#" class="item">Posts</a></li>
            <li><a href="#" class="item">Eventos</a></li>
            <li><a href="#" class="item">Tus Mensajes</a></li>
        </ul>
        <div class="cont-perfil-btn">
            <a href="#" class="item">Perfil</a>
            <form action="/cerrar/sesion" method="get">
                <button>Cerrar Sesión</button>
            </form>
        </div>
    </div>
</nav>
<body>

    <h3>Hola mundo</h3>
</body>
<footer>
    <div class="cont cont-footer">
        <h2>Nosotros</h2>
        <div class="cont cont-nav-btm-izq">
            <h3>Contactanos</h3>
            <ul>
                <li><a href="#">Conviertete en Socio</a></li>
                <li><a href="#">Conocenos</a></li>
            </ul>
        </div>
        <div class="cont cont-nav-btm-der">
            <h3>Acerca de Nosotros</h3>
            <ul>
                <li><a href="#">Misión</a></li>
                <li><a href="#">Visión</a></li>
            </ul>
        </div>
    </div>

</footer>
</html>