<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/inicio.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <!-- 
        Header de la pagina
     -->
    <nav>
        <div class="cont_izq">
            <img src="{{url_for('static', filename='img/logo.jpeg')}}" alt="Logo de VIIIGames" class="img logo">
            <h1>Inicio</h1>
        </div>
        <div class="cont_der">
            <ul class="lista">
                <li><a href="/dashboard" class="item">Posts</a></li>
                <li><a href="#" class="item">Eventos</a></li>
                <li><a href="#" class="item">Tus Mensajes</a></li>
            </ul>
            <div class="cont-perfil-btn">
                {% if 'nombre_usuario' not in session %}
                <form action="/iniciar/sesion" method="get">
                    <button>Iniciar Sesión</button>
                </form>
                <form action="/registrarse" method="get">
                    <button>Registrarse</button>
                </form>
                {%else%}
                    <a href="/perfil/{{session['nombre_usuario']}}" class="item">Perfil</a>
                    <form action="/cerrar/sesion" method="get">
                        <button>Cerrar Sesión</button>
                    </form>
                {%endif%}
            </div>
        </div>
    </nav>
    <!-- 
        Cuerpo de la pagina
     -->
    <div class="cuerpo">
        <div class="cont-cuerpo">
            <div class="titulos-cuerpo">
                <h3>Eventos</h3>
            </div>
            <div class="cont-posts">
                <div class="dash-post">
                    <div class="dp-left">
                        <img src="" alt="Imagen usuario" class="publicacion-usuario-imagen">
                        <p>DadoEstelarTienda</p>
                        <p>2023-12-06 21:06:18</p>
                    </div>
                    <div class="dp-right">
                        <div class="dp-td">
                            <h2>"Juegos Bajo las Estrellas"</h2>
                            <p>Únete a la comunidad de "El Dado Feliz" para 
                            una noche especial de juegos de mesa bajo el cielo estrellado. Habrá demostraciones 
                            de nuevos juegos, descuentos exclusivos y premios para los campeones de los torneos 
                            relámpago. ¡No te pierdas esta experiencia única de juego!</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="dash-post">
                    <div class="dp-left">
                        <img src="" alt="Imagen usuario" class="publicacion-usuario-imagen">
                        <p>ElRinconDelRol</p>
                        <p>2023-11-30 16:07:58</p>
                    </div>
                    <div class="dp-right">
                        <div class="dp-td">
                            <h2>"El Reino en Peligro"</h2>
                            <p>Únete a nosotros para un fin de semana lleno de rol en vivo, donde los 
                                participantes se embarcarán en una búsqueda épica para salvar el reino 
                                de la oscuridad. ¡Prepárate para aventuras, intriga y magia en un evento 
                                que cambiará el destino del reino!</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="dash-post">
                    <div class="dp-left">
                        <img src="" alt="Imagen usuario" class="publicacion-usuario-imagen">
                        <p>MundoVirtualMaster</p>
                        <p>2023-12-04 21:00:00</p>
                    </div>
                    <div class="dp-right">
                        <div class="dp-td">
                            <h2>"Reinos Virtuales: Encuentro Mensual de Rol Online"</h2>
                            <p>¡Conéctate desde cualquier parte del mundo para nuestro encuentro mensual de rol online! Explora mundos fantásticos, lucha contra monstruos y forja amistades con jugadores de todas partes. ¿Tienes una campaña para compartir o buscas unirte a una nueva? ¡Este es el lugar perfecto!</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="dash-post">
                    <div class="dp-left">
                        <img src="" alt="Imagen usuario" class="publicacion-usuario-imagen">
                        <p>RolForge</p>
                        <p>2023-12-06 09:30:00</p>
                    </div>
                    <div class="dp-right">
                        <div class="dp-td">
                            <h2>"Conquista del Laberinto: Juego de Mesa en 'Laberinto Lúdico'"</h2>
                            <p>Embárcate en una búsqueda estratégica para conquistar el laberinto en este emocionante juego de mesa. Únete a nosotros en 'Laberinto Lúdico' para una tarde de diversión, estrategia y competencia. ¡Atrévete a ser el maestro del laberinto!</p>
                        </div>
                    </div>
                </div>
                <hr>
                {% for e in lista_eventos %}
                <div class="dash-post">
                    <div class="dp-left">
                        <img src="" alt="Imagen usuario" class="publicacion-usuario-imagen">
                        <p>{{ e.usuario.nombre_usuario }}</p>
                        <p>{{ e.fecha_creacion }}</p>
                    </div>
                    <div class="dp-right">
                        <div class="dp-td">
                            <h2>{{ e.nombre_evento }}</h2>
                            <p>{{ e.descripcion_evento }}</p>
                        </div>
                    </div>
                </div>
                <hr>
                {% endfor %}
                
            </div>
        </div>
        <div class="cont-cuerpo">
            <div class="titulos-cuerpo">
                <h3>Publicaciones</h3>
            </div>
            <div class="cont-posts">
                {% for i in lista_posts %}
                <div class="dash-post">
                    <div class="dp-left">
                        <img src="" alt="Imagen usuario" class="publicacion-usuario-imagen">
                        <p>{{ i.usuario.nombre_usuario }}</p>
                        <p>{{ i.fecha_creacion }}</p>
                    </div>
                    <div class="dp-right">
                        <div class="dp-td">
                            <h2>{{ i.nombre_post }}</h2>
                            <p>{{ i.descripcion_post }}</p>
                        </div>
                        <div class="dp-comentarios">
                            <img src="" alt="Ícono Comentarios">
                            {{ i.num_comentarios }}
                        </div>
                    </div>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- 
        Footer de la pagina
     -->
    <footer>
        <div class="titulo-footer">
            <h2>Nosotros</h2>
        </div>
        <div class="cont cont-footer">
            <div class="cont cont-footer-izq">
                <h3 class="titulo-footer">Contactanos</h3>
                <ul class="list list-footer">
                    <li><a href="#" class="item item-footer">Conviertete en Socio</a></li>
                    <li><a href="/conocer/equipo" class="item item-footer">Conoce al equipo</a></li>
                </ul>
            </div>
            <div class="cont cont-footer-der">
                <h3 class="titulo-footer">Acerca de Nosotros</h3>
                <ul class="list list-footer">
                    <li><a href="#" class="item item-footer">Misión</a></li>
                    <li><a href="#" class="item item-footer">Visión</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>