<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/inicio.css')}}">
</head>
<nav>
    <div class="cont_izq">
        <h1>Inicio</h1>
    </div>
    <div class="cont_der">
        <ul class="lista">
            <li><a href="#" class="item">Posts</a></li>
            <li><a href="#" class="item">Eventos</a></li>
            <li><a href="#" class="item">Tus Mensajes</a></li>
        </ul>
        <div class="cont-perfil-btn">
            <a href="#" class="item">Perfil</a>
            <form action="/cerrar/sesion" method="get">
                <button>Cerrar Sesión</button>
            </form>
        </div>
    </div>
</nav>
<body>

</body>
</html>