<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tus mensajes</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/mensajes.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="cont_izq">
            <img src="{{url_for('static', filename='img/logo.png')}}" alt="Logo de VIIIGames" class="img logo">
            <h1>VIIIGames</h1>
        </div>
        <div class="cont_der">
            <ul class="lista">
                <li><a href="/dashboard" class="item">Posts</a></li>
                <li><a href="#" class="item">Eventos</a></li>
                <li><a href="/mensajes" class="item">Tus Mensajes</a></li>
            </ul>
            <div class="cont-perfil-btn">
                {% if 'nombre_usuario' not in session %}
                <form action="/iniciar/sesion" method="get">
                    <button>Iniciar Sesión</button>
                </form>
                <form action="/registrarse" method="get">
                    <button>Registrarse</button>
                </form>
                {%else%}
                    <a href="/perfil/{{session['nombre_usuario']}}" class="item">Perfil</a>
                    <form action="/cerrar/sesion" method="get">
                        <button>Cerrar Sesión</button>
                    </form>
                {%endif%}
            </div>
        </div>
    </nav>
    <div class="flex-body">
        <div class="body">
        <img src="{{url_for('static', filename='img/foto_perfil.png')}}" alt="Imagen usuario" class="publicacion-usuario-imagen">
        <h2 class="title2">vicente_2002 te ha enviado un mensaje!</h2>
        <a href="/chat" class="notification">
            <span>Ver mensaje</span>
            <span class="badge">1</span>
        </a>
        </div>
    </div>
</body>
</html>