<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/perfil.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap" rel="stylesheet">
</head>
<nav>
    <div class="cont_izq">
        <img src="{{url_for('static', filename='img/logo.png')}}" alt="Logo de VIIIGames" class="img logo">
        <h1>Perfil</h1>
    </div>
    <div class="cont_der">
        <ul class="lista">
            <li><a href="/inicio" class="item">Inicio</a></li>
            <li><a href="/eventos" class="item">Eventos</a></li>
            <li><a href="/mensajes" class="item">Tus Mensajes</a></li>
        </ul>
        <div class="cont-perfil-btn">
            <form action="/cerrar/sesion" method="get">
                <button>Cerrar Sesión</button>
            </form>
        </div>
    </div>
</nav>
<body>
    <div class="cuerpo">
            <div class="cuerpo-top"> <!-- aquí va el nombre de usuario, foto, portada y fecha de unión-->
                <div class="imagen-top">
                    <img src="{{url_for('static', filename='img/foto_perfil.png')}}" alt="Imagen usuario" class="publicacion-usuario-imagen">
                </div>
                <div class="nombre-descripcion">
                    <h1> {{ usuario_perfil.nombre_usuario }} </h1>
                    <p>Usuario desde: {{ usuario_perfil.fecha_creacion }}</p>
                </div>
            </div>
            <div class="cuerpo-btm">
                <div class="btm-izq">
                    
                    <div class="publicaciones">
                        <h1>Tus Publicaciones</h1>
                        {% if posts_perfil|length == 0 %}
                            <h2>No tienes publicaciones...</h2>
                            <form action="/crear/post" method="GET">
                                <Button type="submit">Crea una publicación</Button>
                            </form>
                        {% endif %}
                        {% for i in posts_perfil %}
                            <div class="dash-post">
                                <div class="dp-left">
                                    <div class="dp-left-top">
                                        <img src="{{url_for('static', filename='img/foto_perfil.png')}}" alt="Imagen usuario" class="publicacion-usuario-imagen">
                                        <p>{{ i.usuario.nombre_usuario }}</p>
                                    </div>
                                    <p>{{ i.usuario.fecha_creacion }}</p>
                                </div>
                                <hr>
                                <div class="dp-right">
                                    <div class="dp-td">
                                        <div class="dp-td-tf"> 
                                            <h2>{{ i.nombre_post }}</h2>
                                            <span>Creado el  {{ i.fecha_creacion }}</span>
                                        </div>
                                        <div class="dp-dc">
                                            <p>{{ i.descripcion_post }}</p>
                                            <div class="dp-comentarios">
                                                <img src="{{url_for('static', filename='img/icono_comentarios.png')}}" alt="Ícono Comentarios">
                                                {{ i.num_comentarios }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    
                </div>
                <div class="btm-der">
                    <div class="seguidores">
                        <h2>Seguidores</h2>
                        <div class="seguidores-in">
                            <h2>No Tienes Seguidores...</h2>
                        </div>
                    </div>
                </div>
                
            </div>
    </div>
</body>
</html>