<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/perfil.css')}}">
</head>
<nav>
    <div class="cont_izq">
        <h1>Perfil</h1>
    </div>
    <div class="cont_der">
        <ul class="lista">
            <li><a href="/inicio" class="item">Inicio</a></li>
            <li><a href="#" class="item">Eventos</a></li>
            <li><a href="#" class="item">Tus Mensajes</a></li>
        </ul>
        <div class="cont-perfil-btn">
            <a href="#" class="item">Perfil</a>
            <form action="/cerrar/sesion" method="get">
                <button>Cerrar Sesión</button>
            </form>
        </div>
    </div>
</nav>
<body>
    <div>
        <h1> {{ usuario_perfil.nombre_usuario }} </h1>
        <div class="nombre">
            <h2> {{ usuario_perfil.nombre }} </h2> 
            <h2> {{ usuario_perfil.apellido }} </h2>
        </div>
    </div>
    

    {% for i in posts_perfil %}
        <div class="dash-post">
            <div class="dp-top">
                <p>Usuario: {{ i.usuario.nombre_usuario }}</p>
                <p>{{ i.fecha_creacion }}</p>
            </div>
            <div class="dp-btm">
                <h2>{{ i.nombre_post }}</h2>
                {{ i.descripcion_post }}
            </div>
        </div>
    {% endfor %}
    
</body>
</html>