<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap" rel="stylesheet">
</head>
<nav>
    <div class="cont_izq">
        <h1>Dashboard</h1>
    </div>
    <div class="cont_der">
        <ul class="lista">
            <li><a href="/inicio" class="item">Inicio</a></li>
            <li><a href="#" class="item">Eventos</a></li>
            <li><a href="/mensajes" class="item">Tus Mensajes</a></li>
        </ul>
        <div class="cont-perfil-btn">
            <a href="/perfil/{{ session['nombre_usuario']}}" class="item">Perfil</a>
            <form action="/cerrar/sesion" method="get">
                <button>Cerrar Sesión</button>
            </form>
        </div>
    </div>
</nav>
<body>
    <div class="cuerpo">
        <div class="cuerpo-top">
            <div class="crear-post">
                <a href="/crear/post">Crear Post</a>
            </div>
        </div>
        <div class="cuerpo-btm">
            {% for i in lista_posts %}
                <div class="dash-post">
                    <div class="dp-left">
                        <div class="dp-left-top">
                            <img src="{{url_for('static', filename='img/foto_perfil.png')}}" alt="Imagen usuario" class="publicacion-usuario-imagen">
                            <p>{{ i.usuario.nombre_usuario }}</p>
                        </div>
                        <p>{{ i.usuario.fecha_creacion }}</p>
                    </div>
                    <hr>
                    <div class="dp-right">
                        <div class="dp-td">
                            <div class="dp-td-tf"> 
                                <h2>{{ i.nombre_post }}</h2>
                                <span>Creado el  {{ i.fecha_creacion }}</span>
                            </div>
                            <div class="dp-dc">
                                <p>{{ i.descripcion_post }}</p>
                                <div class="dp-comentarios">
                                    <img src="{{url_for('static', filename='img/icono_comentarios.png')}}" alt="Ícono Comentarios">
                                    {{ i.num_comentarios }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</body>
</html>