<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap" rel="stylesheet">
</head>
<nav>
    <div class="cont_izq">
        <img src="{{url_for('static', filename='img/logo.png')}}" alt="Logo de VIIIGames" class="img logo">
        <h1>Publicaciones</h1>
    </div>
    <div class="cont_der">
        <ul class="lista">
            <li><a href="/inicio" class="item">Inicio</a></li>
            <li><a href="/eventos" class="item">Eventos</a></li>
            <li><a href="/mensajes" class="item">Tus Mensajes</a></li>
        </ul>
        <div class="cont-perfil-btn">
            <a href="/perfil/{{ session['nombre_usuario']}}" class="item">Perfil</a>
            <form action="/cerrar/sesion" method="get">
                <button>Cerrar Sesión</button>
            </form>
        </div>
    </div>
</nav>
<body>
    <div class="cuerpo">
        <div class="cuerpo-top">
            <div class="crear-post">
                <form action="/crear/post">
                    <button type="submit" class="crear-btn">Crear Publicación</button>
                </form>
            </div>
        </div>
        <div class="cuerpo-btm">
            {% for i in lista_posts %}
                <div class="dash-post">
                    <div class="dp-left">
                        <div class="dp-left-top">
                            <img src="{{url_for('static', filename='img/foto_perfil.png')}}" alt="Imagen usuario" class="publicacion-usuario-imagen">
                            <p>{{ i.usuario.nombre_usuario }}</p>
                        </div>
                        <p>{{ i.usuario.fecha_creacion }}</p>
                    </div>
                    <hr>
                    <div class="dp-right">
                        <div class="dp-td">
                            <div class="dp-td-tf"> 
                                <a href="#"><h2>{{ i.nombre_post }}</h2></a>
                                <span>Creado el  {{ i.fecha_creacion }}</span>
                            </div>
                            <div class="dp-dc">
                                <p>{{ i.descripcion_post }}</p>
                                <div class="dp-comentarios">
                                    <img src="{{url_for('static', filename='img/icono_comentarios.png')}}" alt="Ícono Comentarios">
                                    {{ i.num_comentarios }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="dash-post">
                <div class="dp-left">
                    <div class="dp-left-top">
                        <img src="{{url_for('static', filename='img/foto_perfil.png')}}" alt="Imagen usuario" class="publicacion-usuario-imagen">
                        <p>EstrategaMaster</p>
                    </div>
                    <p>2023-12-08 09:00:00</p>
                </div>
                <hr>
                <div class="dp-right">
                    <div class="dp-td">
                        <div class="dp-td-tf">
                            <a href="/post/EstrategaMaster/1"><h2>Consejos para Ganar en Juegos de Estrategia</h2></a>
                            <span>Creado el 2023-12-08 09:00:00</span>
                        </div>
                        <div class="dp-dc">
                            <p>¿Eres fanático de los juegos de estrategia? Comparto algunos consejos que he 
                                aprendido a lo largo de los años. Desde juegos de mesa hasta estrategias en 
                                línea, ¡vamos a discutir cómo dominar el arte de la estrategia!</p>
                            <div class="dp-comentarios">
                                <img src="{{url_for('static', filename='img/icono_comentarios.png')}}" alt="Ícono Comentarios">
                                <span>7</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>