<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Crear cuenta</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/test_crearCSS.css')}}">
</head>

<body>
    <div class="container">
        <div class="logo">
            <img src="{{url_for('static', filename='img/Doge.jpg')}}" alt="Logo">
        </div>
        <h2>Crear cuenta</h2>
        <form action="/procesa/registro" method="POST">
            <input type="text" id="nombre_usuario" name="nombre_usuario" placeholder="Nombre de Usuario" required>
            {% for mensaje in get_flashed_messages(category_filter=['error_nombre_usuario']) %}
            <div class="error alert alert-danger">
                {{mensaje}}
            </div>
            {% endfor %}
            <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
            {% for mensaje in get_flashed_messages(category_filter=['error_nombre']) %}
            <div class="error alert alert-danger">
                {{mensaje}}
            </div>
            {% endfor %}            
            <input type="text" id="apellido" name="apellido" placeholder="Apellido" required>
            {% for mensaje in get_flashed_messages(category_filter=['error_apellido']) %}
            <div class="error alert alert-danger">
                {{mensaje}}
            </div>
            {% endfor %}            
            <input type="email" id="correo" name="correo" placeholder="Correo electrónico" required>

            <input type="password" id="contraseña" name="contraseña" placeholder="Contraseña" required>
            {% for mensaje in get_flashed_messages(category_filter=['error_correo']) %}
            <div class="error alert alert-danger">
                {{mensaje}}
            </div>
            {% endfor %}
            <input type="password" id="confirmar_contraseña" name="confirmar_contraseña" placeholder="Confirmar contraseña" required>
            {% for mensaje in get_flashed_messages(category_filter=['error_contraseña']) %}
            <div class="error alert alert-danger">
                {{mensaje}}
            </div>
            {% endfor %}
            <input type="submit" value="Crear cuenta">
        </form>
        <p>¿Ya tienes una cuenta? <a href="inicio_sesion.html">Iniciar sesión</a></p>
    </div>
</body>

</html>