<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/Login_CSS.css')}}">
</head>
<body>
    <div class="container">
        <div class="logo">
        <img src="{{url_for('static', filename=img/Doge.jpg)}}" alt="Diseño logo">
    </div>
    <h2>Registro</h2>
    <form action="procesar_registro.php" method="POST">
        <input type="text" id="username" name="username" placeholder="Usuario" required>
        <input type="password" id="password" name="password" placeholder="Contraseña" required>
        <input type="submit" value="Ingresar">
    </form>
    <p>¿No tienes una cuenta? <a href="/crear/cuenta">Crear cuenta</a></p>
    </div>
</body>
</html>