<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Crear cuenta</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/test_crearCSS.css')}}">
</head>
<body>
<div class="container">
    <div class="logo">
        <img src="Doge.jpg" alt="Logo">
    </div>
    <h2>Crear cuenta</h2>
    <form action="procesar_creacion_cuenta.php" method="POST">
        <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
        <input type="text" id="apellido" name="apellido" placeholder="Apellido" required>
        <input type="email" id="correo" name="correo" placeholder="Correo electrónico" required>
        <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña" required>
        <input type="submit" value="Crear cuenta">
    </form>
    <p>¿Ya tienes una cuenta? <a href="inicio_sesion.html">Iniciar sesión</a></p>
    </div>
</body>
</html>