*{
    padding: 0;
    margin: 0;
    list-style: none;
    /* border: 1px solid black; */
}
html{
    display: flex;
    flex-direction: column;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #9b836ad0;
    font-family: 'Be Vietnam Pro', sans-serif;
}
a{
    font-size: 1.2rem;
}
button {
    background-color: #fff;
    color: #C47335;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 

    Header de la Pagina

*/
.logo{
    height: 75px;
    border-radius: 20px;
}

nav{
    display: flex;
    align-items: center;
    height: 100px;
    gap: 50px;
    justify-self: center;
    padding: 10px;
    margin: 0 16px;
    font-size: 1.3rem;
    border-bottom: 2px solid #EAD94C;
    border-left: 1px solid #EAD94C;
    box-shadow: 2px 2px #EAD94C;
    background-color: #C47335;
}
.cont_izq{
    flex: 2;
    padding: 5px;
    display: flex;
    gap: 50px;
    align-items: center;
}
.cont_der{
    flex: 3;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
.lista{
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 15px;
}
.item{
    text-decoration: none;
    color: black;
}
.cont-perfil-btn{
    display: flex;
    gap: 50px;
    align-items: center;
}
/*
#crear-post {
    max-width: 800px;
    margin: 20px auto; 
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    resize: none;
    box-sizing: border-box;
}

#crear-post button {
    background-color: #C47335;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: #fff;
    color: #C47335;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #9b5b2b;
}
/*