body {
    background-color: #9b836ad0;
    color: #333;
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}

nav {
    background-color: #C47335;
    color: #fff;
    height: 100px;
    padding: 10px;
    margin: 0px 16px;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont_izq h1 {
    margin: 0;
}

.lista {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.lista li {
    margin-right: 20px;
}

.lista a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.cont-perfil-btn {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cont_der {
    display: flex;
    align-items: center;
}

button {
    background-color: #fff;
    color: #C47335;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

.crear-post {
    margin: 20px;
}

.crear-post a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #C47335;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}

.dash-post{
    display: flex;
    background-color: #756e6e;
    gap: 20px;
    border-radius: 5px;
}

.dp-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dp-right{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}
.dp-comentarios{
    display: flex;
    align-items: end;
    justify-items: flex-end;
}

.crear-post a:hover {
    background-color: #9b5b2b;
}

div {
    margin: 20px;
}

p {
    margin: 0;
}

h2 {
    margin: 10px 0;
}
