*{
    padding: 0;
    margin: 0;
    list-style: none;
    /* border: 1px solid black; */
}
html{
    display: flex;
    flex-direction: column;
}
body{
    background-color: antiquewhite;
    color: #333;
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}
a{
    font-size: 1.2rem;
}
button {
    background-color: #fff;
    color: #C47335;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 

    Header de la Pagina

*/
.logo{
    height: 75px;
    
}

nav{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-self: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 3px solid #EAD94C;
    background-color: #f88f3e;
}
.cont_izq{
    flex: 2;
    padding: 5px;
    display: flex;
    gap: 50px;
    align-items: center;
}
.cont_der{
    flex: 3;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
.lista{
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 15px;
}
.item{
    text-decoration: none;
    color: white;
}
.cont-perfil-btn{
    display: flex;
    gap: 50px;
    align-items: center;
}

/* cuerpo */

.cuerpo{
    display: flex;
    flex-direction: column;
    padding: 16px 32px;
    gap: 16px;
}
.cuerpo-top{
    display: flex;
    justify-content: flex-end;
}
.crear-btn{
    box-shadow: 2px 2px #BEBEBE;
    font-weight: 600;
    font-size: 20px;
}

.cuerpo-btm{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.dash-post{
    display: flex;
    background-color: #f88f3e;
    border:#ebbe6b solid;
    border-radius: 20px;
    box-shadow: 2px 2px #BEBEBE;
    padding: 8px;
    gap: 10px;
}
.dp-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0; 
    width: 200px;
}
.dp-left-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.dp-left-top img{
    height: 120px;
    width: 120px;
}
hr{
    border: 1px solid #545055;
    border-color: #545055;
    box-shadow: none;
}
.dp-right{
    display: flex;
    flex-grow: 1;
    padding: 10px;
    justify-content: space-between;
    background-color: antiquewhite;
    border-radius: 20px;
}
.dp-td{
    display: flex;
    flex-direction: column;
    height: max-content;
    flex: 1;
    gap: 20px;
}
.dp-td-tf{
    display: flex;
    justify-content: space-between;
}
.dp-td-tf a{
    text-decoration: none;
    color: #333;
}
.dp-dc{
    display: flex;
    justify-content: space-between;
    flex: 1;
    height: 100%;
}
.dp-comentarios{
    display: flex;
    align-content: flex-end;
}
.dp-comentarios img{
height: 30px;
}

