*{
    padding: 0;
    margin: 0;
    list-style: none;
    /* border: 1px solid black; */
}
html{
    display: flex;
    flex-direction: column;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #9b836ad0;
}
a{
    font-size: 1.2rem;
}
button {
    background-color: #fff;
    color: #C47335;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 

    Header de la Pagina

*/
.logo{
    height: 75px;
    border-radius: 20px;
}

nav{
    display: flex;
    align-items: center;
    height: 100px;
    gap: 50px;
    justify-self: center;
    padding: 10px;
    margin: 0 16px;
    font-size: 1.3rem;
    border-bottom: 2px solid #EAD94C;
    border-left: 1px solid #EAD94C;
    box-shadow: 2px 2px #EAD94C;
    background-color: #C47335;
}
.cont_izq{
    flex: 2;
    padding: 5px;
    display: flex;
    gap: 50px;
    align-items: center;
}
.cont_der{
    flex: 3;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
.lista{
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 15px;
}
.item{
    text-decoration: none;
    color: black;
}
.cont-perfil-btn{
    display: flex;
    gap: 50px;
    align-items: center;
}
/* 

    Cuerpo de la Pagina

*/
.cuerpo{

    display: flex;
    flex-direction: column;
    padding: 16px 32px;
    gap: 16px;
}
.titulos-cuerpo{
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
    margin: 15px;
    font-size: 1.5rem;
    color: #EAD94C;
}
.cont-eventos,.cont-posts{
    border: 1px solid black;
    border-radius: 5px;
}

.cont-eventos{
    height: 300px;
    padding: 16px;
    background-color: #413e42;
    color: #EAD94C;
    border: 3px ridge;
    border-color: #B9B8B5;
    box-shadow: 1px 1px #B9B8B5;
}
.cont-posts{
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 300px;
    padding: 16px;
    background-color: #413e42;
    color: #EAD94C;
    border: 3px ridge;
    border-color: #B9B8B5;
    box-shadow: 1px 1px #B9B8B5;
}
.cont-cuerpo{
    display: flex;
    flex-direction: column;
    background-color: #848482;
    border-radius: 20px;
    box-shadow: 2px 2px #BEBEBE;
    padding: 8px;
}
.dash-post{
    display: flex;
    gap: 20px;
}
.dp-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dp-right{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}
.dp-comentarios{
    display: flex;
    align-items: end;
    justify-items: flex-end;
}

/* 

    Footer de la Pagina

*/

footer{
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-top: 2px solid #EAD94C;
    background-color: #56351E;
    color: #fff;
}
.titulo-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    font-size: 1.5rem;
}
.cont, .cont-footer-izq,.cont-footer-der{
    display: flex;
    justify-content: space-around;
}
.cont-footer-izq, .cont-footer-der{
    padding: 8px;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
} 
.item-footer{
    color: #fff;
}

.list-footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}