body {
    background-color: #9b836ad0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    background-color: #6b4000d2;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.logo img {
    width: 100px;
    margin-bottom: 20px;
}

h2 {
    color: #fff;
    margin-bottom: 20px;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #413e42;
    border: none;
    border-radius: 3px;
    color: #fff;
    box-sizing: border-box;
}

form input[type="text"]::placeholder,
form input[type="password"]::placeholder {
    color: #8e9297;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #555445;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #555434;
}

p {
    color: #000000;
    font-size: 14px;
    margin-top: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}