*{
    padding: 0;
    margin: 0;
    list-style: none;
    /* border: 1px solid black; */
}
html{
    display: flex;
    flex-direction: column;
}
body{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    font-family: 'Be Vietnam Pro', sans-serif;
}
a{
    font-size: 1.2rem;
}
button {
    background-color: #fff;
    color: #C47335;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 

    Header de la Pagina

*/
.logo{
    height: 75px;
    border-radius: 20px;
}

nav{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 3px solid #EAD94C;
    background-color: #f88f3e;
}
.cont_izq{
    flex: 2;
    padding: 5px;
    display: flex;
    gap: 50px;
    align-items: center;
}
.cont_der{
    flex: 3;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
.lista{
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 15px;
}
.item{
    text-decoration: none;
    color: white;
}
.cont-perfil-btn{
    display: flex;
    gap: 50px;
    align-items: center;
}

/* cuerpo */

.cuerpo{
    display: flex;
    flex-direction: column;
    padding: 16px 32px;
    gap: 16px;
}
.cuerpo-top{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.imagen-top{
    display: flex;
    flex: 1;
    justify-content: center;
}
.imagen-top img{
    height: 80px;
    border-radius: 50%;
    border: 5px solid whitesmoke;
}
.nombre-descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f88f3e;
    justify-content: center;
    flex: 1;
    padding: 10px;
    border-radius: 20px;
}
.cuerpo-btm{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.btm-izq{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.btm-der{
    display: flex;
    width: 500px;
}
.publicaciones{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.dash-post{
    display: flex;
    background-color: #f88f3e;
    border:#ebbe6b solid;
    border-radius: 20px;
    box-shadow: 2px 2px #BEBEBE;
    padding: 8px;
    gap: 10px;
}
.dp-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0; 
    width: 200px;
}
.dp-btm{
    background-color: antiquewhite ;
    border: solid #f88f3e;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.dp-left-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.dp-left-top img{
    height: 120px;
    width: 120px;
}
hr{
    border: 1px solid #545055;
    border-color: #545055;
    box-shadow: none;
}
.dp-right{
    display: flex;
    flex-grow: 1;
    padding: 10px;
    justify-content: space-between;
    background-color: antiquewhite;
    border-radius: 20px;
}
.dp-td{
    display: flex;
    flex-direction: column;
    height: max-content;
    flex: 1;
    gap: 20px;
}
.dp-td-tf{
    display: flex;
    justify-content: space-between;
}
.dp-dc{
    display: flex;
    justify-content: space-between;
    flex: 1;
    height: 100%;
}
.dp-comentarios{
    display: flex;
    align-content: flex-end;
}
.dp-comentarios img{
height: 30px;
}
.seguidores{
    display: flex;
    flex-direction: column;
    background-color: #f88f3e;
    flex: 1;
    gap: 10px;
    padding: 20px;
    border-radius: 20px;
    height: 150px;
}
.seguidores-in{
    display: flex;
    background-color: antiquewhite;
    border-radius: 20px;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.publicaciones Button{
    font-weight: 700;
    box-shadow: 1px 1px 1px 1px #BEBEBE;
}