*{
    padding: 0;
    margin: 0;
    list-style: none;
    /* border: 1px solid black; */
}
html{
    display: flex;
    flex-direction: column;
}
body{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite#9b836ad0;
    font-family: 'Be Vietnam Pro', sans-serif;
}
a{
    font-size: 1.2rem;
}
button {
    background-color: #fff;
    color: #C47335;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 

    Header de la Pagina

*/

nav{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 3px solid #EAD94C;
    background-color: #f88f3e;
}
.cont_izq{
    flex: 2;
    padding: 5px;
    display: flex;
    gap: 50px;
    align-items: center;
}
.cont_der{
    flex: 3;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
.lista{
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 15px;
}
.item{
    text-decoration: none;
    color: black;
}
.cont-perfil-btn{
    display: flex;
    gap: 50px;
    align-items: center;
}

/* Cuerpo */

.cuerpo{
    display: flex;
    flex-direction: column;
    padding: 16px 32px;
    gap: 16px;
}
.cont-cuerpo{
    display: flex;
    background-color: antiquewhite;
    border-radius: 20px;
    box-shadow: 2px 2px #BEBEBE;
    padding: 8px;
}
#publicacion{
    min-height: 250px;
    gap: 20px;
}
.publicacion-izq{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
.publicacion-izq img{
    height: 100px;
}
.publicacion-der{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
form{
    width: 100%;
}
.cont-cuerpo textarea{
    width: 100%;
    box-sizing: border-box;
    resize: none;
}
.comentario-izq{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 250px;
    height: 100px;
}
.comentario-izq img{
    height: 50px;
}